/* override bootstrap styles */
/* latin-ext */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v11/l1cOQ90roY9yC7voEhngDBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(https://fonts.gstatic.com/s/oswald/v11/HqHm7BVC_nzzTui2lzQTDVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin-ext */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v11/yg0glPPxXUISnKUejCX4qfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v11/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.navbar-form input, .form-inline input {
    width: auto;
}

body {
    padding-top: 50px;
    color: #646464;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

h1, h2, h3, .highlight, .navbar a, #masthead h4 {
    font-family: 'Oswald', arial narrow, sans-serif;
}

ul.no-list-style {
    list-style-type: none;
    margin-left: 0;
}

.container {
    width: 450px;
}
.form-auth{
    padding: 15px;
    width: 100%;
    display: block;
    float: left;
    border: 2px solid #009bff;
}
#message-content{
    text-align: center;
}

.footer {
    background: #222;
    color: #A0A0A0;
    padding: 0 20px 10px 20px;
    border-top: 4px solid #4f8db3;
    margin-top: 20px;
    -webkit-box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.4);
}

.footer h3 {
    color: #E4E4E4;
    font-size: 1.3em;
    border-bottom: 1px dotted #7C7C7C;
}

.footer ul {
    padding: 0;
}

.footer-navigate-section li {
    line-height: 20px !important;
}

.footer-stay-connected a:hover {
    -moz-opacity: 1;
    opacity: 1;
}

.footer-stay-connected a.facebook {
    background-position: -115px 0;
}

.footer-stay-connected a.twitter {
    background-position: -230px 0;
}

.footer-stay-connected a.googleplus {
    background-position: 0 0;
}

.footer-stay-connected li {
    text-align: center;
}

.footer-copyright {
    text-align: center;
    color: #7C7C7C;
    border-top: 1px dotted #7C7C7C;
    padding-top: 10px;
    font-size: 0.9em;
}

#masthead {
    min-height: 199px;
    background-color: #000044;
    color: #aaaacc;
}

#masthead h1 {
    font-size: 55px;
    line-height: 1;
    color: #fefeff;
    margin-top: 50px;
}

#masthead .well {
    margin-top: 31px;
    background-color: #111166;
    border-color: #000022;
    color: #efefff;
    min-height: 127px;
}

#topPanel {
    padding-top: 0;
    padding-left: 22px;
    padding-right: 22px;
}

#topPanel .panel-body {
    padding-top: 0;
}

.navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.top-spacer {
    background-color: #ffffff;
    height: 40px;
}

a {
    color: #4f8db3;
}

a:hover {
    color: #2f556d;
}

.icon-bar {
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 80px;
    }
}

.navbar-bright {
    background-color: #111166;
    color: #fff;
    margin-bottom: 0;
    border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
    color: #ccccdd;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .08em;
}

.navbar-bright li > a:hover {
    background-color: #000044;
}

.dropdown-menu {
    min-width: 250px;
}

.caret {
    color: #fff;
}

.navbar-toggle {
    color: #fff;
    border-width: 0;
}

.navbar-toggle:hover {
    background-color: #fff;
}

.panel {
    border-color: transparent;
    border-radius: 0;
}

.thumbnail {
    margin-bottom: 8px;
}

.img-container {
    overflow: hidden;
    height: 170px;
}

.img-container img {
    min-width: 280px;
    min-height: 180px;
    max-width: 380px;
    max-height: 280px;
}

.txt-container {
    overflow: hidden;
    height: 100px;
}

.panel .lead {
    overflow: hidden;
    height: 90px;
}

.label-float {
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: .9;
    padding: 6px;
    color: #fff;
}

.btn-twitter {
    background-color: #4099FF;
    color: #fff;
}

.btn-facebook {
    background-color: #3B5998;
    color: #fff;
}

.btn-google-plus {
    background-color: #d34836;
    color: #fff;
}

.btn-twitter:hover {
    background-color: #3088FF;
    color: #62BBFF;
}

.btn-facebook:hover {
    background-color: #2A4998;
    color: #4C6BBA;
}

.btn-google-plus:hover {
    background-color: #C23836;
    color: #E45A58;
}

.alert-danger {
    background-color: #dd4b39;
    border-color: #fff;
    color: #fff;
    margin: 5px 0;
}
button.close{
    opacity: 1;
    text-shadow: none;
    color:#fff;
}
.jumbotron {
    background-color: #f2dede;
}

.wrap {
    border: 1px solid #eee;
    overflow: hidden;
}

.content {
    float: left;
}

.content > div {
    margin-left: 20px;
}

/*.row.show {*/
/*background-color: #033c73;*/
/*}*/
.show {
    border: 1px solid;
}

.border {
    border-right: 1px solid #eee;
}

.tabtil {
    text-align: center;
    font-weight: bold;
}

.number {
    text-align: right;
}

.lock {
    display: block;
}

.form-group.expand {
    display: block;
    margin: 0 auto;
    width: 0;
}

.panel {
    float: left;
    width: 100%;
}

.page-title {
    text-align: center;
    margin: 0 0 20px;
    line-height: 1.5em;
}