body{
    color: #191919;
}
.login-box, .register-box {
    width: 374px;
}

.main-header .logo {
    line-height: inherit;
}

.main-header .logo .logo-lg, .main-header .logo img {
    max-height: 50px;
    margin: 0;
    padding: 0;
}

.table .label {
    font-size: 100%;
}

.col-default {
    line-height: 34px;
}

.btn-remove-options {
    font-size: 18px;
    padding: 4px 7px;
}

.item-option {
    float: left;
    width: 100%;
}

.product .box {
    float: left;
}

.message {
    line-height: 25px;
    font-size: 14px;
    margin: 5px 0;
    color: #00c0ef;
}

.message.error {
    color: #dd4b39;
}

.thumbnail-button {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    float: left;
}

.thumbnail-button .btn-upload {
    float: left;
    clear: both;
}

.btn-upload {
    width: 120px !important;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #428bca;
    color: #fff;
    padding: 0;
    display: block;
    border: none;
    text-transform: uppercase;
}

.btn-upload:hover, .btn-upload:active, .btn-upload:focus, .btn-upload:active:focus, .btn-upload:hover:active {
    background-color: #ff7d00;
    color: #fff;
    border: none;
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
    box-shadow: none;
}

.thumbnail-review {
    width: 380px;
    height: 260px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    float: left;
    margin-bottom: 5px;
    padding: 10px;
}

.thumbnail-review img {
    height: 100%;
    top: 0;
    width: auto;
    left: 50%;
}

.thumbnail-large .thumbnail-review {
    width: 270px;
    height: 179px;
}

.group-field {
    border: 2px solid #3c8dbc;
    float: left;
    width: 100%;
    margin: 0 0 10px;
}

.attribute-label {
    display: block;
}

.label-item {
    font-weight: normal;
}

.nav-tabs-custom {
    float: left;
    width: 100%;
}

.nav-tabs-custom > .tab-content {
    float: left;
    width: 100%;
    padding: 30px 10px;
}

.media-review {
    width: 100%;
    float: left;
    min-height: 70px;
    margin-bottom: 5px;
}

.media-review .item-review {
    width: 120px;
    height: 70px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    float: left;
    margin: 5px;
}

.media-review .item-review img {
    height: 100%;
    position: absolute;
    top: 0;
    width: auto;
    left: 50%;
    z-index: 1;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.media-review .item-review .btn-remove {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    color: #fff;
    background-color: #dd4b39;
    font-size: 16px;
    padding: 1px 2px;
    height: 20px;
    line-height: 20px;
    width: 20px;
    border-radius: 0;
    border: 0 none;
}

.media-review .item-review:hover .btn-remove {
    display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.loading {
    position: relative;
}

.loading:after {
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    position: absolute;
    left: 0;
    top: 0;
}

.loading:before {
    width: 40px;
    height: 40px;
    display: block;
    content: '';
    background: transparent url('data:image/svg+xml,<svg%20xmlns%3D"http%3A//www.w3.org/2000/svg"%20viewBox%3D"0%200%2032%2032"%20width%3D"32"%20height%3D"32"%20fill%3D"%23ccc">%0A%20%20<path%20opacity%3D".25"%20d%3D"M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204"/>%0A%20%20<path%20d%3D"M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z">%0A%20%20%20%20<animateTransform%20attributeName%3D"transform"%20type%3D"rotate"%20from%3D"0%2016%2016"%20to%3D"360%2016%2016"%20dur%3D"0.8s"%20repeatCount%3D"indefinite"%20/>%0A%20%20</path>%0A</svg>%0A%0A') no-repeat 0 0/100% auto;
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.unit-form {

}

.unit-form .unit-item {

    padding: 20px;
    border: 1px #E4E4E4 solid;
    border-left: 4px #bbb solid;
    margin-bottom: 20px;
}

.unit-form .unit-item ul {
    padding: 0;
    margin: 0;
}

.unit-form .unit-item ul li {
    display: inline-block;
    list-style: none;

}

.unit-form .unit-item ul li div {
    padding: 5px 0;
    font-weight: bold;
}

.unit-form .unit-item ul li label {

}

.main-menu {

    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .07);
}

.main-menu ul {
    margin: 0;
}

.main-menu ul li {
    display: inline-block;
    position: relative;
    border-bottom: 3px solid transparent;
}

.main-menu ul li a {
    padding: 20px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4F4F52;


}


.main-menu ul li:hover {
    color: #0d6aad80;
    border-bottom: 3px solid #3c8dbc;
}
.main-menu ul li:hover a{

}
.main-menu ul li:hover ul {
    display: block;
}

.main-menu ul li ul {
    display: none;
    position: absolute;
    width: 200px;
    background: #FFFFFF;
    top:60px;
    z-index: 9;
    padding-left: 0;
    border-radius: 5px;
    border: 1px solid #CFCFCF;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.25);
}

.main-menu ul li ul li {
    display: block;
    padding-left: 20px;
    border-bottom: 0;
}
.main-menu ul li ul li:hover{
    background:#0d6aad40;
    border-bottom: 0;
}
.main-menu ul li ul li a {
    text-decoration: none;
    text-transform: inherit;
    font-weight: normal;
    padding: 10px 20px 10px 0;
    color: #4F4F52;
}

.building-detail h1{
    font-size: 28px;
}
.building-detail .sub-title{
    margin-bottom: 20px;
}
.building-detail .block-title{
    display: block;
    padding: 0 0 8px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
}
.building-detail .building-thumb img{
    max-width: 210px;
    height: auto;
    border-radius: 5px;
}
.building-detail label{
    color: #000022;
}
.building-detail div{
    margin-bottom: 5px;
    color: #4F4F52;
}
.cash-info{
    background-color: #E7F1F7 !important;
}
.cash-info ul{
    padding-left: 0;
}
.cash-info ul li{
    list-style: none;
    text-align: right;
    clear: both;
    color: #191919;
}
.cash-info ul li .underline-dot{
text-decoration: underline;
}
.cash-info ul li label{
    color: #191919;
    font-weight: normal;
    width: 70%;
    float: left;
    text-align: left;
    padding-left: 10px;
}
.cash-info ul li label.first{
    padding-left: 0;
}
.financial-table tr th{
    background: #F4F4F4;
    padding: 10px 20px !important;
    border-top: 1px #e2e2e2 solid !important;
    border-bottom: 0 !important;
}
.financial-table tr td{
    padding: 10px 20px !important;;
}